<div class="boss container-fluid">
    <div id="bossbackground">
        <div id="angularbg">
        <h1 id="title">Eek! A giant ANGULAR attacks you.</h1>
                <div> 
                    <div> 
                        <!--<img src="./images/angularoffice.png">           -->
                    <div id="expressquest" class="inquiry">
                        <h3>{{ angularquestion.question }}</h3>                  
                    <ol type="A">
                        <li>{{ angularquestion.A }}</li>
                        <li>{{ angularquestion.B }}</li>
                        <li>{{ angularquestion.C }}</li>
                        <li>{{ angularquestion.D }}</li>
                    </ol>
                    <div id="questionbox">
                    <div class="question" ng-mouseover="query()"><img src="images/ATTACK.png"></div>
                    </div>
                    </div>
                    <div id="angularbosspic">
                    <img src="./images/angularboss.png">
                    </div>
                </div>
                </div>       
    </div>
</div>