<div class="boss container-fluid">
<div id="bossbackground">
    <div id="bigbossbg">
    <h1 id="title">Ready Player One!</h1>
    <div> 
        <!--<img src="./images/bossoffice.png">    -->
        
            <div>           
                <div id="expressquest" class="inquiry">
                    <h3>{{ bossQ.question }}</h3>
                <ol type="A">
                    <li>{{ bossQ.A }}</li>
                    <li>{{ bossQ.B }}</li>
                    <li>{{ bossQ.C }}</li>
                    <li>{{ bossQ.D }}</li>
                </ol>
                <div id="questionbox">
                <div class="question" ng-mouseover="query()"><img src="images/ATTACK.png"></div>
                </div>
                </div>
                <div id="bigbosspic">
                <img src="./images/bigboss.png">
                </div>
            </div>
            </div>
</div>
</div>