<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container login-container">
    <img class="logo img-responsive" src="images/MEANies.png">
    <!--<div class="row">-->
        <!--<div class="col-md-offset-5 col-md-3">-->
            <div class="form-login">
                <img id="letsplay" src="images/Lets-Play.png">
                <input type="text" class="form-control input-sm chat-input" placeholder="First Name" id="new-firstname" ng-model="newFirstName">
                <input type="text" class="form-control input-sm chat-input" placeholder="Last Name" id="new-lastname" ng-model="newLastName">
                <input type="email" id="new-email" class="form-control input-sm chat-input" placeholder="Email" class="white" ng-model="newEmail">
                <input type="password" id="new-password" class="form-control input-sm chat-input" placeholder="Password" ng-model="newPass">
                <input type="text" class="form-control input-sm chat-input" placeholder="User Name" id="new-username" ng-model="newUsername">
                <div class="wrapper login-wrapper">
                    <span class="group-btn">
                        <button type="button" id="saveBtn" ng-click="createUser()"><img src="images/Lets-Go.png"></button>
                        <!--<a href="/users/create"><button class="btn btn-primary btn-md">New User</button></a>-->
                    </span>
                </div>
            </div>
        <!--</div>-->
    <!--</div>-->
</div>