<div class="boss container-fluid">
    <div id="expressbg">
        <h1 id="title">Grr. Argh. A giant EXPRESS attacks you.</h1>
        <!--<div id="expressbg">-->
        <!--<img class="bkgimage" src="./images/expressoffice.png">  -->
    
                <div>           
                    <div id="expressquest" class="inquiry">

                        <h3>{{ expressquestion.question }}</h3>                  
                    <ol type="A">
                        <li>{{ expressquestion.A }}</li>
                        <li>{{ expressquestion.B }}</li>
                        <li>{{ expressquestion.C }}</li>
                        <li>{{ expressquestion.D }}</li>
                    </ol>
                    <div id="questionbox">
                    <div class="question" ng-mouseover="query()"><img src="images/ATTACK.png"></div>
                    </div>
                    </div>

                    <div id="expressbosspic">
                    <img src="./images/expressboss.png">
                    </div>
                </div>
                <!--</div>-->
    </div>
</div>

