<!--<h1>Login</h1>

<div>
    <input type="email" ng-model="email" placeholder="email">
    <input type="password" ng-model="password" placeholder="password">
    <button ng-click="login()">Login</button>
    <button type="button"><a ng-href="/">Home</a></button>
</div>-->


<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container login-container">
    <img class="logo img-responsive" src="images/MEANies.png">
    <!--<div class="row">-->
        <!--<div class="col-md-offset-5 col-md-3">-->
            <div class="form-login">
                <img id="letsplay" src="images/Lets-Play.png">
                <input type="email" id="userName" class="form-control input-sm chat-input" ng-model="email" placeholder="email" />
                </br>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" ng-model="password" placeholder="password" />
                </br>
                <div class="wrapper login-wrapper">
                    <span class="group-btn">     
                        <button class="loginBtn" ng-click="login()"><img src="images/Login.png"></button>
                        <button class="logoutBtn" ng-click="logout()"><img src="images/Logout.png"></button>
                        <br>
                        <a href="/board"><button class="contBtn"><img src="images/Continue.png"></button></a>
                        <br>
                        <a href="/users/create"><button class="newuserBtn"><img src="images/New-User.png"></button></a>
                        <!--<a href="/users/create"><button class="btn btn-primary btn-md">New User</button></a>-->
                    </span>
                </div>
            </div>
        <!--</div>-->
    <!--</div>-->
</div>