<div class="boss container-fluid">
    <div id="bossbackground">
        <div id="mongobg">
        <h1 id="title" style="text align: center;">Rawr. A giant MONGO attacks you.</h1>  
        <div id="mongobosspic">
            <img src="./images/mongoboss.gif">
        </div> 
            <div> 
                <!--<img src="./images/mongooffice.png">    -->
            <div>                                   
                    <div id="expressquest" class="inquiry"> 
                        <h3>{{ mongoquestion.question }}</h3>                  
                        <ol type="A">
                            <li>{{ mongoquestion.A }}</li>
                            <li>{{ mongoquestion.B }}</li>
                            <li>{{ mongoquestion.C }}</li>
                            <li>{{ mongoquestion.D }}</li>
                        </ol>
                        <div id="questionbox">
                            <div class="question" ng-mouseover="query()"><img src="images/ATTACK.png"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>          
    </div>
</div>

