<div class="boss container-fluid">
    <div id="bossbackground">
        <div id="nodebg">
        <h1 id="title">Look out! A giant NODE attacks you.</h1>
                <div>        
                    <div> 
                        <!--<img src="./images/nodeoffice.png">     -->
                    <div id="expressquest" class="inquiry">
                        <h3>{{ nodequestion.question }}</h3>                  
                    <ol type="A">
                        <li>{{ nodequestion.A }}</li>
                        <li>{{ nodequestion.B }}</li>
                        <li>{{ nodequestion.C }}</li>
                        <li>{{ nodequestion.D }}</li>
                    </ol>
                    <div id="questionbox">
                    <div class="question" ng-mouseover="query()"><img src="images/ATTACK.png"></div>
                    </div>
                    </div>
                    <div id="nodebosspic">
                    <img src="./images/nodeboss.png">
                    </div>
                </div>
                </div>         
    </div>
</div>