<div class="doge"></div>
<div class="container-fluid winner win-header">
    <h1>{{ username | uppercase }} wins MEANies!</h1>
    <h2 class="win-header">You are amazing! Such Win! Many gameplay!</h2>
</div>
<div class="fireworks"></div>

<div class="credits winner container-fluid">
    <div>
        <h2>Creative team at Depot/U Birmingham</h2>
        <h3>Big MEANie- Jeff Linn</h3>
        <h3>MEANie- Parrish Holley</h3>
        <h3>MEANie- Camille Parks</h3>
        <h3>MEANie- Jesse Payne</h3>
    </div>
    <h3>Starring:</h3>
    <div>
        <ul class="subcredit">
            <li>NodeJS Web Framework - ExpressJS</li>
            <li>MVVM SPA Framework - AngularJS</li>
            <li>JavaScript Runtime Program - NodeJS</li>
            <li>Relational Database Server - MySQL</li>
        </ul>
        <ul class="subcredit">
            <li>No animals were harmed in the making of this game</li>
            <li>This is a work of fiction</li>
            <li>Any resemblance to actual persons, living or dead, or actual events is purely coincidental</li>
            <li>Some names and identifying details have been changed to protect the privacy of individuals.</li>
        </ul>
        <ul class="subcredit">
            <li>We would like to thank the following individuals and entities:</li>
            <li>Depot/U</li>
            <li>Innovation Depot</li>
            <li>David Stapleton</li>
            <li>Kelsey Nichols</li>
        </ul>
        <h4>How was your experience playing MEANies? Please give us feedback by calling (205) 774-6564.</h4>
    </div>
</div>
